<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esibetter"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".notifications.app"
        android:allowBackup="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_logo_app"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".articles.ShowImage"></activity>
        <activity android:name=".courses.ShowAllTutorials" />
        <activity android:name=".courses.ShowAllFiles" />
        <activity
            android:name=".courses.VideoPlayer"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".articles.Add_Articles"
            android:label="@string/create_art"
            android:theme="@style/RTE_ThemeLight" />
        <activity
            android:name=".general.splashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".general.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".courses.Tasks.UploadPdfActivity" />
        <activity android:name=".courses.pdf" />
        <activity
            android:name=".courses.Add_Tutorial"
            android:screenOrientation="portrait" />
        <activity android:name=".articles.Article_activity" />
        <activity android:name=".general.about_us" />
        <activity android:name=".general.HelpActivity" />
        <activity android:name=".general.User_Profile" />
        <activity android:name=".notifications.Profile_Activity" />
        <activity
            android:name=".general.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".courses.Tasks.MyBaseTaskService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".courses.Tasks.MyUploadService"
            android:enabled="true"
            android:exported="false" />


        <activity
            android:name=".signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:screenOrientation="portrait" />
        <activity android:name=".notifications.Notifications" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_brand" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />


        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>